.chat-input {
  width: 200px;
  height: 50px;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  margin: 10px;
}

.chat-button {
  height: 50px;
  width: 50px;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
}

.chat-heading {
  margin-left: 10px;
  margin-top: 10px;
}
